@import 'settings';

*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: $main-font, sans-serif;
    min-height: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
    transition: all 1s ease;
    @media(min-width: $desktop-breakpoint){
        width: 60%;    
    }
}
.button{
    padding: 8px 20px 10px 20px;
    border: none;
    background-color: $blue;
    color: $white;
    font-size: $s-size;
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(13,13,13,1);
-moz-box-shadow: 0px 0px 15px -4px rgba(13,13,13,1);
box-shadow: 0px 0px 15px -4px rgba(13,13,13,1);
}
.button:hover{
    background-color: $dark-blue;
}

pre{
    line-height: 1.5rem !important;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    font-family: $main-font;
    font-size: 1rem;
}
.link{
    text-decoration: none;
    color: $blue !important;
      
    p{ 
      color: $blue !important;
      margin-top: $s-size;
      font-size: 1rem;
    }  
}

.spinner-container{
    min-height: 90vh;
}